/*
 * Copyright 2022 FLIR Systems.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	regulators {
		compatible = "simple-bus";

		reg_eobb_3v3d: reg_eobb_3v3d {
			compatible = "regulator-fixed";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-name = "eobb +3v3d";
		};
	};
};

&i2c2 {
    /* FUELGAUGE */
    battery: bq40z50@b {
		compatible = "ti,bq40z50";
		reg = <0xb>;
	};
};

/* EEPROM */
&i2c3 {
	eobb_24c02_ae: eobb_24c02_ae@57 {
		compatible = "atmel,24c02";
		reg = <0x57>;
		pagesize = <16>;
		vcc-supply = <&reg_eobb_3v3d>;
	};
};