/*
 * Copyright 2022 FLIR Systems.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

&i2c2 {
    /* FUELGAUGE */
    battery: bq40z50@b {
		compatible = "ti,bq40z50";
		reg = <0xb>;
	};
};

/* EEPROM */
&i2c3 {
	eobb_24c02_ae: eobb_24c02_ae@57 {
		compatible = "atmel,24c02";
		reg = <0x57>;
		pagesize = <16>;
	};
};