/*
 * Copyright 2022 FLIR Systems.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	regulators {
		compatible = "simple-bus";

		reg_8va: 8VA {
			 //Voltage +8VA is EXT_POWER via IC3, Surge protector
			 status = "okay";
			 compatible = "regulator-fixed";
			 regulator-name = "+8VA";
			 regulator-boot-on;
		};

		temp_8v_en: temp_8v_en { 
			status = "okay";
			compatible = "regulator-fixed";
			regulator-name = "temp_8v_en";
			gpio = <&eopc_pcf8574_0x76 0 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-boot-on;
		};

		reg_3v3d_en: reg_3v3d_en { 
            status = "okay";
			compatible = "regulator-fixed";
			regulator-name = "reg_3v3d_en";
			gpio = <&eopc_pcf8574_0x76 1 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-boot-on;
		};

		reg_3v6gopc_en: reg_3v6gopc_en {
            status = "okay";
			compatible = "regulator-fixed";
			regulator-name = "reg_3v6gopc_en";
			gpio = <&eopc_pcf8574_0x76 2 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-boot-on;
		};
	};
};

&i2c1 {
    /* GPIO-Expander */
	eopc_pcf8574_0x76: eopc_pcf8574_0x76@3e {
		compatible = "nxp,pcf8574";
		reg = <0x3e>;
		gpio-controller;
		status = "okay";
		interrupt-parent = <&gpio4>; //I2C1_Alert_n
		interrupts = <11 IRQ_TYPE_EDGE_FALLING>;
		interrupt-controller;
		interrupts-shared;
		#interrupt-cells = <2>;
		#gpio-cells = <2>;
	};


    /*ADC ADUC834*/
    //todo

};